---
http_interactions:
- request:
    method: get
    uri: http://webservices.nextbus.com/service/publicXMLFeed?a=mbta&command=predictions&stopId=00072
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\" ?> \n<body copyright=\"All
        data copyright MBTA 2013.\">\n<predictions agencyTitle=\"MBTA\" routeTitle=\"1\"
        routeTag=\"1\" stopTitle=\"Massachusetts Ave @ Pearl St\" stopTag=\"72\">\n
        \ <direction title=\"Dudley Station via Mass. Ave.\">\n  <prediction epochTime=\"1358907018192\"
        seconds=\"664\" minutes=\"11\" isDeparture=\"false\" affectedByLayover=\"true\"
        dirTag=\"1_1_var0\" vehicle=\"2278\" block=\"C01_12\" tripTag=\"19374697\"
        />\n  <prediction epochTime=\"1358907798192\" seconds=\"1444\" minutes=\"24\"
        isDeparture=\"false\" affectedByLayover=\"true\" dirTag=\"1_1_var0\" vehicle=\"2238\"
        block=\"C01_18\" tripTag=\"19374698\" />\n  <prediction epochTime=\"1358908578192\"
        seconds=\"2224\" minu[...]
