---
http_interactions:
- request:
    method: get
    uri: http://webservices.nextbus.com/service/publicXMLFeed?a=mbta&command=predictions&stopId=02108
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\" ?> \n<body copyright=\"All
        data copyright MBTA 2013.\">\n<predictions agencyTitle=\"MBTA\" routeTitle=\"73\"
        routeTag=\"73\" stopTitle=\"Trapelo Rd @ Belmont St - Benton Square\" stopTag=\"2108\">\n
        \ <direction title=\"Harvard Station via Mt. Auburn\">\n  <prediction epochTime=\"1363646957780\"
        seconds=\"195\" minutes=\"3\" isDeparture=\"false\" dirTag=\"73_1_var2\" vehicle=\"4120\"
        block=\"T73_19\" tripTag=\"19364329\" />\n  <prediction epochTime=\"1363647075594\"
        seconds=\"313\" minutes=\"5\" isDeparture=\"false\" affectedByLayover=\"true\"
        dirTag=\"73_1_var2\" vehicle=\"4123\" block=\"T73_20\" tripTag=\"19364341\"
        />\n  <prediction epochTime=\"1363647299024\" seconds=\"536\" minutes=\"8\"
        isDeparture=\"false\" affectedByLayover=\"true\" dirTag=\"73_1_var0\" vehicle=\"4117\"
        block=\"T73_21\" tripTag=\"19364359\" />\n  <prediction epochTime=\"1363647479024\"
        seconds=\"716\" minutes=\"11\" isDeparture=\"false\" affectedByLayover=\"true\"
        dirTag=\"73_1_var0\" vehicle=\"4112\" block=\"T73_23\" tripTag=\"19364388\"
        />\n  <prediction epochTime=\"1363647716382\" seconds=\"953\" minutes=\"15\"
        isDeparture=\"false\" affectedByLayover=\"true\" dirTag=\"73_1_var0\" vehicle=\"4127\"
        block=\"T73_24\" tripTag=\"19364391\" />\n  </direction>\n</predictions>\n</body>\n"
  recorded_at: Mon, 18 Mar 2013 22:46:02 GMT
recorded_with: VCR 2.4.0
